@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Momo+Signature&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Manrope, sans-serif;
    
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@property --blur {
  syntax: "<length>";
  initial-value: 0.5rem;
  inherits: false;
}
body{
    gap: 100px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.RGB-2{
    background-image: transparent;
    display: flex;
    width: min(250px);
    min-height: 250px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    position: relative;
    cursor: pointer;

}
.RGB-2::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 50px;
    padding: 0px;
    background-image: conic-gradient(from var(--angle), red, yellow, green, red);
    filter: blur(2.5rem);
    animation: 6s spin linear infinite;
 
}
.RGB-2::before {
  content: "";
  position: absolute;
  inset: 0;
  filter: blur(9px);
  background-image: conic-gradient(from var(--angle), black, gray, gray, black);
  border-radius: 60px;
  mix-blend-mode: overlay;
  opacity: 75%;
  animation: 10s spin linear infinite;
}


h2 {
    font-size: 42pt;
    text-transform: uppercase;
    font-weight: 600;
    mix-blend-mode: normal;
    color: white;
    text-align: center;
    line-height: 1;
}

.gradient-h2{
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  mix-blend-mode: overlay;
  animation: blurGrow 5s ease-in-out infinite;
}
.gradient-h2 img{
    width: 60%;
}
p{
    font-size: 20pt;
    color: white;
    mix-blend-mode: overlay;
    animation: blurGrow 5s ease-in-out infinite;
}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}
@keyframes blurGrow {
  0%   { filter: blur(0.05rem); }
  50%  { filter: blur(0.1rem); }
  100% { filter: blur(0.05rem); }
}
@media(max-width:1000px){
    body{
        display: flex;
        flex-direction: column;
    }
}
