@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Momo+Signature&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Manrope, sans-serif;
    
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
body{
    gap: 100px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.RGB{
    display: flex;
    background-color: wheat 0%;
    border-radius: 50px;
    width: 250px;
    height: 250px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.RGB::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 50px;
    padding: 0px;
    background-image: conic-gradient(from var(--angle), red, yellow, green, red);
    filter: blur(15px);
    animation: 6s spin linear infinite;
}
.RGB::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(white);
  filter: blur(7px);
  border-radius: 70px;
  opacity: 10%;
}

.RGB-2{
    background-image: transparent;
    display: flex;
    width: min(250px);
    min-height: 250px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    position: relative;
}
.RGB-2::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 50px;
    padding: 0px;
    background-image: conic-gradient(from var(--angle), red, yellow, green, red);
    filter: blur(2rem);
    animation: 6s spin linear infinite;
}
.RGB-2::before {
  content: "";
  position: absolute;
  inset: 0;
  filter: blur(4px);
  background: linear-gradient(#000000);
  border-radius: 60px;
  opacity: 40%;
}


h2 {
    font-size: 40pt;
    text-transform: uppercase;
    font-weight: 500;
}
.gradient-h2{
  background: linear-gradient(120deg, red, yellow, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.gradient-h2::before {
  content: attr(data-text); /* mirrors the text */
  position: absolute;
  width: 100%;
  height: 70%;
  display: flex;
  right: 0;
  translate: -0% -0%;
  justify-self: center;
  align-self: center;
  filter: blur(2rem);
  opacity: 100%;
}



p{
    font-size: 20pt;
    color: rgb(255, 255, 255);
    opacity: 80%;
}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}
@media(max-width:1000px){
    body{
        display: flex;
        flex-direction: column;
    }
}
